<launch>
    <param name="robot_description" textfile="$(find ros_learning)/urdf/bot.urdf" />
    <node pkg="ros_learning" name="moving_frame" type="moving_frame.py" output="screen">

        <param name="omega" type="double" value="1" />
        <param name="radius" type="double" value="3" />
        <param name="rate" type="int" value="10" />
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node pkg="rviz" name="rviz" type="rviz"/>
</launch>
