<launch>
    <node pkg="ros_learning" name="moving_frame" type="moving_frame.py" output="screen">  
        <param name="omega" type="double" value="1" />
        <param name="radius" type="double" value="3" />
        <param name="rate" type="int" value="10" />
    </node>
    <node pkg="rviz" name="rviz" type="rviz"/>
</launch>
